<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>kagoyume</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetAddress</display-name>
    <servlet-name>GetAddress</servlet-name>
    <servlet-class>kagoyume.GetAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAddress</servlet-name>
    <url-pattern>/GetAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>kagoyume.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Item</display-name>
    <servlet-name>Item</servlet-name>
    <servlet-class>kagoyume.Item</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Item</servlet-name>
    <url-pattern>/Item</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cart</display-name>
    <servlet-name>Cart</servlet-name>
    <servlet-class>kagoyume.Cart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cart</servlet-name>
    <url-pattern>/Cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add</display-name>
    <servlet-name>Add</servlet-name>
    <servlet-class>kagoyume.Add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add</servlet-name>
    <url-pattern>/Add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyConfirm</display-name>
    <servlet-name>BuyConfirm</servlet-name>
    <servlet-class>kagoyume.BuyConfirm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyConfirm</servlet-name>
    <url-pattern>/BuyConfirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyComplete</display-name>
    <servlet-name>BuyComplete</servlet-name>
    <servlet-class>kagoyume.BuyComplete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyComplete</servlet-name>
    <url-pattern>/BuyComplete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>user.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>user.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationConfirm</display-name>
    <servlet-name>RegistrationConfirm</servlet-name>
    <servlet-class>user.RegistrationConfirm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationConfirm</servlet-name>
    <url-pattern>/RegistrationConfirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationComplete</display-name>
    <servlet-name>RegistrationComplete</servlet-name>
    <servlet-class>user.RegistrationComplete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationComplete</servlet-name>
    <url-pattern>/RegistrationComplete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginResult</display-name>
    <servlet-name>LoginResult</servlet-name>
    <servlet-class>user.LoginResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginResult</servlet-name>
    <url-pattern>/LoginResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>user.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>